*{
    margin: 0;
    paddin
    box-sizing: border-box;
}

h1{
    color: green;
    font-size: 40px;
    font-family: Helvetia Neue;
    margin-bottom: 20px;
}
h2{
    color: red;
    font-size: 25px;
    font-family: Helvetia Neue;
    margin-bottom: 10px;
}

p{
    color: darkblue;
    font-family: Helvetia Neue;
    text-align: justify;
    margin-bottom: 20px;
}

.author-name{
    font-size: 20px;
}
.para {
    margin-top: 20px;
}

.other {
    background-color: green;
}
